In [1]:
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

In [4]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
#Don't mind my password... lol
engine = create_engine('postgresql://postgres:Abbythedog23@localhost:5432/Hawaii_db')

In [6]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [7]:
Base.classes.keys()

['stations', 'measurements']

In [8]:
Measurement = Base.classes.measurements
Station = Base.classes.stations

In [9]:
session = Session(engine)

Exploratory Climate Analysis

In [10]:
#Create dataframe
prev_year = dt.date(2017, 8, 23) - dt.timedelta(days = 365)
results = session.query(Measurement.date, Measurement.prcp).all()
df = pd.DataFrame(results, columns=['date', 'precipitation'])
df.set_index(df['date'], inplace=True)
df = df.sort_index()
df.drop(columns=['date'], inplace=True)
#df.plot(rot=90)
df.head()

       precipitation
date
1/1/10          0.08
1/1/10          0.05
1/1/10          0.15
1/1/10          0.15
1/1/10          0.21

In [11]:
#Gather summary info from measurement
df.describe()

       precipitation
count          18103
unique           342
top                0
freq            8185

In [12]:
#Count the number of stations
session.query(func.count(Station.station)).all()

[(9)]

In [13]:
#Measurements grouped by station, view the stations
session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).\
                                      desc()).all()

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [14]:
#Find lowest, highest, and average temperature at base station
lowest = func.min(Measurement.tobs)
highest = func.max(Measurement.tobs)
average = func.avg(Measurement.tobs)
session.query(lowest, highest, average).all()

[(53, 87, Decimal('73.0979539641943734'))]

In [15]:
#Display the recorded tobs for one station
results = session.query(Measurement.tobs).\
filter(Measurement.station == 'USC00519281').all()

df_results = pd.DataFrame(results, columns=['tobs'])
df_results.head()

   tobs
0    70
1    62
2    74
3    75
4    74